<%- include('../layouts/user_layouts/userHeader.ejs') %>


<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">
                    <div class="single_banner_slider">
                        <div class="row">
                            <div class="col-lg-5 col-md-8">
                                <div class="banner_text">
                                    <div class="banner_text_iner">
                                        <h1>Wood & Cloth
                                            Sofa</h1>
                                        <p>Discover the perfect blend of rustic charm and modern elegance with our Wood & Cloth Sofa collection. </p>
                                        <a href="/shop/allproducts" class="btn_2">buy now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banner_img d-none d-lg-block">
                                <img src="img/banner_img.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Featured Category</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-sm-6 mb-4">
                <div class="single_feature_post_text" onclick="window.location.href='/shop/Love Seats'">
                    <p>Premium Quality</p>
                    <h3>Latest LoveSeats</h3>
                    <a href="/shop/Love Seats" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <% if (randomProduct.loveSeat) { %>
                        
                        <img src="/productimages/<%= randomProduct.loveSeat.productImage[0] %>" alt="Love Seat">
                    <% } else { %>
                        <!-- <p>No Love Seat available</p> -->
                        <img src="/user/img/feature/feature_1.png" alt="Placeholder Image">
                    <% } %>

                    <!-- <img src="/user/img/feature/feature_1.png" alt=""> -->
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4"onclick="window.location.href='/shop/Nordic Chairs'">
                <div class="single_feature_post_text">
                    <p>Premium Quality</p>
                    <h3>Latest Nordic Chair</h3>
                    <a href="/shop/Nordic Chairs" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <div class="banner-image-box">
                    <% if (randomProduct.nordic) { %>
                        
                        <img class="banner-image" src="/productimages/<%= randomProduct.nordic.productImage[0] %>" alt="Love Seat">
                        
                    <% } else { %>
                        <p>No Love Seat available</p>
                        <img src="/user/img/feature/feature_2.png" alt="Placeholder Image">
                    <% } %>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4" onclick="window.location.href='/shop/Recliners'">
                <div class="single_feature_post_text">
                    <p>Premium Quality</p>
                    <h3>Latest Recliners</h3>
                    <a href="/shop/Recliners" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <% if (randomProduct.recliners) { %>
                        
                        <img src="/productimages/<%= randomProduct.recliners.productImage[0] %>" alt="Love Seat">
                    <% } else { %>
                        <p>No Love Seat available</p>
                        <img src="/user/img/feature/feature_3.png" alt="Placeholder Image">
                    <% } %>

                    <!-- <img src="/user/img/feature/feature_1.png" alt=""> -->
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 mb-4">
                <div class="single_feature_post_text"onclick="'/shop/Sectional Sofa'">
                    <p>Premium Quality</p>
                    <h3>Latest Sectional Sofa</h3>
                    <a href="/shop/Sectional Sofa" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    <% if (randomProduct.sectional) { %>
                        
                        <img src="/productimages/<%= randomProduct.sectional.productImage[0] %>" alt="Love Seat">
                    <% } else { %>
                        <p>No Love Seat available</p>
                        <img src="/user/img/feature/feature_4.png" alt="Placeholder Image">
                    <% } %>

                    <!-- <img src="/user/img/feature/feature_1.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->

<!-- product_list start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>bestSellers <span></span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            <% slider1.forEach(product => { %>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <img src="/productimages/<%= product.productImage[0]%>" alt="<%= product.name%>">
                                    <div class="single_product_text">
                                        <h4><%= product.productName%></h4>
                                        <h3><%= product.productPrice%></h3>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            <% slider2.forEach(product => { %>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="/productimages/<%= product.productImage[0]%>" alt="<%= product.name%>"                                    
                                        onclick="location.href='/shop/product/<%= product._id %>'">
                                        >
                                        <div class="single_product_text">
                                            <h4><%= product.productName%></h4>
                                            <h3><%= product.productPrice%></h3>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                            
                        </div>
                    </div>
                    

                    
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="our_offer section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="offer_img">
                    <img src="/user/img/offer_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="offer_text">
                    <h2>Weekly Sale on
                        60% Off All Products</h2>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../layouts/user_layouts/userFooter.ejs') %>


<style>

</style>