<%- include('../layouts/user_layouts/userHeader.ejs') %>

<style>
.product_slider_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slider-for {
    width: 100%;
    max-width: 80vw;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.slider-for img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slider-nav {
    width: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0; /* Remove extra padding to fit more thumbnails */
}

.slider-nav .slick-slide {
    padding: 0.15rem; /* Slightly reduced padding for better fit */
}

.slider-nav img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Ensure thumbnails are displayed properly */
.slider-nav .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjust the width of the thumbnails to fit within the container */
.slider-nav .slick-slide {
    width: calc(100% / 5); /* Ensure 5 thumbnails fit in the container */
    max-width: calc(100% / 5);
}

.slider-nav .slick-slide img {
    width: 100%;
    height: auto;
}

</style>


<div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
              <div id="vertical" class="slider-for">
                  <% singleProduct.productImage.forEach(image => { %>
                      <div>
                          <img src="/productimages/<%= image %>" class="zoom-image" data-zoom-image="/productimages/<%= image %>" />
                      </div>
                  <% }); %>
              </div>
      
              <!-- Thumbnail Slider -->
              <div class="slider-nav">
                  <% singleProduct.productImage.forEach(image => { %>
                      <div>
                          <img src="/productimages/<%= image %>" alt="Product Thumbnail" />
                      </div>
                  <% }); %>
              </div>
          </div>
      </div>
      
        

        
        <!-- <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h5>previous <span>|</span> next</h5>
            <h3><%= singleProduct.productName %></h3>
            <h2><%= singleProduct.price %></h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : <%= singleProduct.category %></a>
              </li>
              <li>
                <a href="#"> <span>Availibility</span> :  <%= singleProduct.status %> </a>
              </li>
            </ul>
            <p>
                <%= singleProduct.description %> </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div>
              <a href="#" class="btn_3">add to cart</a>
              <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
            </div>
          </div>
        </div> -->
      
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h5>previous <span>|</span> next</h5>
            <h3><%= singleProduct.productName %></h3>
        
            <!-- Price and Discount Section -->
            <h2>
              <span class="original-price"><%= singleProduct.originalPrice %></span>
              <% if (singleProduct.discountedPrice) { %>
                <span class="discounted-price"><%= singleProduct.discountedPrice %></span>
                <span class="discount-percentage">(<%= singleProduct.discountPercentage %>% OFF)</span>
              <% } else { %>
                <span class="final-price"><%= singleProduct.price %></span>
              <% } %>
            </h2>
        
            <!-- Coupons Section -->
            <% if (singleProduct.coupons) { %>
              <p>Coupons available: 
                <span class="coupon-code"><%= singleProduct.coupons %></span>
              </p>
            <% } %>
        
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : <%= singleProduct.category %>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Availability</span> : 
                  <% if (singleProduct.stock > 0) { %>
                    In Stock
                  <% } else { %>
                    Out of Stock
                  <% } %>
                </a>
              </li>
            </ul>
        
            <!-- Stock Information -->
            <p class="stock-info">
              <% if (singleProduct.stock > 0) { %>
                <%= singleProduct.stock %> items in stock
              <% } else { %>
                <span class="out-of-stock">Currently unavailable</span>
              <% } %>
            </p>
        
            <!-- Description -->
            <p><%= singleProduct.description %></p>
        
            
        
            <!-- Reviews Section -->
            <div class="product-reviews">
              <h4>Customer Reviews:</h4>
              <% if (singleProduct.reviews.length > 0) { %>
                <% singleProduct.reviews.forEach(function(review) { %>
                  <div class="single-review">
                    <p><strong><%= review.userName %></strong> rated it <%= review.rating %> stars</p>
                    <p><%= review.text %></p>
                  </div>
                <% }); %>
              <% } else { %>
                <p>No reviews yet.</p>
              <% } %>
            </div>
        
            <!-- Add to Cart Section -->
            <div class="card_area d-flex justify-content-between align-items-center">
              <% if (singleProduct.stock > 0) { %>
                <div class="product_count">
                  <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                  <input class="input-number" type="text" value="1" min="1" max="<%= singleProduct.stock %>">
                  <span class="number-increment"> <i class="ti-plus"></i></span>
                </div>
                <a href="#" class="btn_3">Add to Cart</a>
              <% } else { %>
                <button class="btn_3 disabled" disabled>Sold Out</button>
              <% } %>
              <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
            </div>
          </div>
        </div>
        
      
      </div>
    </div>
</div>
<section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Specification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            Beryl Cook is one of Britain’s most talented and amusing artists
            .Beryl’s pictures feature women of all shapes and sizes enjoying
            themselves .Born between the two world wars, Beryl Cook eventually
            left Kendrick School in Reading at the age of 15, where she went
            to secretarial school and then into an insurance office. After
            moving to London and then Hampton, she eventually married her next
            door neighbour from Reading, John Cook. He was an officer in the
            Merchant Navy and after he left the sea in 1956, they bought a pub
            for a year before John took a job in Southern Rhodesia with a
            motor company. Beryl bought their young son a box of watercolours,
            and when showing him how to use it, she decided that she herself
            quite enjoyed painting. John subsequently bought her a child’s
            painting set for her birthday and it was with this that she
            produced her first significant work, a half-length portrait of a
            dark-skinned lady with a vacant expression and large drooping
            breasts. It was aptly named ‘Hangover’ by Beryl’s husband and
          </p>
          <p>
            It is often frustrating to attempt to plan meals that are designed
            for one. Despite this fact, we are seeing more and more recipe
            books and Internet websites that are dedicated to the act of
            cooking for one. Divorce and the death of spouses or grown
            children leaving for college are all reasons that someone
            accustomed to cooking for more than one would suddenly need to
            learn how to adjust all the cooking practices utilized before into
            a streamlined plan of cooking that is more efficient for one
            person creating less
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h5>Width</h5>
                  </td>
                  <td>
                    <h5>128mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Height</h5>
                  </td>
                  <td>
                    <h5>508mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Depth</h5>
                  </td>
                  <td>
                    <h5>85mm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Weight</h5>
                  </td>
                  <td>
                    <h5>52gm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Quality checking</h5>
                  </td>
                  <td>
                    <h5>yes</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Freshness Duration</h5>
                  </td>
                  <td>
                    <h5>03days</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>When packeting</h5>
                  </td>
                  <td>
                    <h5>Without touch of hand</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Each Box contains</h5>
                  </td>
                  <td>
                    <h5>60pcs</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item reply">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Post a comment</h4>
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="row total_rate">
                <div class="col-6">
                  <div class="box_total">
                    <h5>Overall</h5>
                    <h4>4.0</h4>
                    <h6>(03 Reviews)</h6>
                  </div>
                </div>
                <div class="col-6">
                  <div class="rating_list">
                    <h3>Based on 3 Reviews</h3>
                    <ul class="list">
                      <li>
                        <a href="#">5 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">4 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">3 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">2 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">1 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="review_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Add a Review</h4>
                <p>Your Rating:</p>
                <ul class="list">
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                </ul>
                <p>Outstanding</p>
                <form class="row contact_form" action="/submit-review?productId=123&userId=456" method="post" novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your Full name" required />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email Address" required />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="number" placeholder="Phone Number" required />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="text" rows="3" placeholder="Review" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <select class="form-control" name="rating" required>
                        <option value="">Rate the Product</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">Submit Now</button>
                  </div>
                </form>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  
  <section class="product_list best_seller">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Related Product </h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="best_product_slider owl-carousel">
              <% relatedProduct.forEach(relatedProduct => { %>

            <div class="single_product_item" onclick="location.href='/shop/<%= relatedProduct._id %>'">
              
              <img src="/productimages/<%= relatedProduct.productImage[0] %>" alt="">
              <div class="single_product_text">
                <h4><%=relatedProduct.productName %></h4>
                <h4 style="text-decoration: line-through;">₹<%= relatedProduct.price %></h4>
                                                                       
                     <% if (relatedProduct.stock === 0) { %>
                        <p class="text-danger">Product Unavailable</p>
                        <% } else { %>
                        <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                    <% } %> 
              </div>

             
            </div>
             <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/path-to-your-slick/slick.min.js"></script>

  <script>
//    $(document).ready(function(){
//     // Initialize Slick Slider for the main product images
//     $('.slider-for').slick({
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         arrows: true,
//         fade: true,
//         asNavFor: '.slider-nav'
//     });

//     // Initialize Slick Slider for the thumbnails
//     $('.slider-nav').slick({
//         slidesToShow: 4,
//         slidesToScroll: 1,
//         asNavFor: '.slider-for',
//         dots: true,
//         centerMode: true,
//         focusOnSelect: true
//     });

//     // Initialize ElevateZoom on the main product image
//     $('.zoom-image').each(function() {
//         $(this).ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });

//     // Update ElevateZoom when the slider changes
//     $('.slider-for').on('afterChange', function(event, slick, currentSlide){
//         var currentImg = $('.slider-for .slick-current img');
//         $('.zoom-image').not(currentImg).ezPlus('destroy'); // Remove zoom from previous images
//         currentImg.ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });
// });


// $(document).ready(function(){
//     // Initialize Slick Slider for the main product images without arrows
//     $('.slider-for').slick({
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         arrows: false, // Disable previous/next arrows
//         fade: true,
//         asNavFor: '.slider-nav'
//     });

//     // Initialize Slick Slider for the thumbnails
//     $('.slider-nav').slick({
//         slidesToShow: 4,
//         slidesToScroll: 1,
//         asNavFor: '.slider-for',
//         dots: true,        // Enable dots below thumbnails
//         centerMode: true,
//         focusOnSelect: true,
//         arrows: false      // Disable previous/next arrows for thumbnails too
//     });

//     // Initialize ElevateZoom on the main product image
//     $('.zoom-image').each(function() {
//         $(this).ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });

//     // Update ElevateZoom when the slider changes
//     $('.slider-for').on('afterChange', function(event, slick, currentSlide){
//         var currentImg = $('.slider-for .slick-current img');
//         $('.zoom-image').not(currentImg).ezPlus('destroy'); // Remove zoom from previous images
//         currentImg.ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });
// });


$(document).ready(function(){
    // Initialize Slick Slider for the main product images without arrows
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false, // Disable previous/next arrows
        fade: true,
        asNavFor: '.slider-nav'
    });

    // Initialize Slick Slider for the thumbnails
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,        // Enable dots below thumbnails
        centerMode: true,
        focusOnSelect: true,
        arrows: false      // Disable previous/next arrows for thumbnails too
    });
});

  </script>


  <%- include('../layouts/user_layouts/userFooter.ejs') %>
