<%- include('../layouts/user_layouts/userHeader.ejs') %>

<style>
.product_slider_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slider-for {
    width: 100%;
    max-width: 80vw;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.slider-for img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slider-nav {
    width: 100%;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0; /* Remove extra padding to fit more thumbnails */
}

.slider-nav .slick-slide {
    padding: 0.15rem; /* Slightly reduced padding for better fit */
}

.slider-nav img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Ensure thumbnails are displayed properly */
.slider-nav .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjust the width of the thumbnails to fit within the container */
.slider-nav .slick-slide {
    width: calc(100% / 5); /* Ensure 5 thumbnails fit in the container */
    max-width: calc(100% / 5);
}

.slider-nav .slick-slide img {
    width: 100%;
    height: auto;
}

</style>


<div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
              <div id="vertical" class="slider-for">

                  <% singleProduct.productImage.forEach(image => { %>
                      <div>
                          <img src="/productimages/<%= image %>" class="zoom-image" data-zoom-image="/productimages/<%= image %>" />
                      </div>
                  <% }); %>
              </div>
      
              <!-- Thumbnail Slider -->
              <div class="slider-nav">
                  <% singleProduct.productImage.forEach(image => { %>
                      <div>
                          <img src="/productimages/<%= image %>" alt="Product Thumbnail" />
                      </div>
                  <% }); %>
              </div>
          </div>
      </div>
      
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">

            <h5>previous <span>|</span> next</h5>
            <h3><%= singleProduct.productName %></h3>
        
            <!-- Price and Discount Section -->
            <h2>
              <span class="original-price"><%= singleProduct.originalPrice %></span>
              <% if (singleProduct.discountedPrice) { %>
                <span class="discounted-price"><%= singleProduct.discountedPrice %></span>
                <span class="discount-percentage">(<%= singleProduct.discountPercentage %>% OFF)</span>
              <% } else { %>
                <span class="final-price"><%= singleProduct.price %></span>
              <% } %>
            </h2>
        
            <!-- Coupons Section -->
            <% if (singleProduct.coupons) { %>
              <p>Coupons available: 
                <span class="coupon-code"><%= singleProduct.coupons %></span>
              </p>
            <% } %>
        
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : <%= singleProduct.category %>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Availability</span> : 
                  <% if (singleProduct.stock > 0) { %>
                    In Stock
                  <% } else { %>
                    Out of Stock
                  <% } %>
                </a>
              </li>
            </ul>
        
            <p class="stock-info">
              <% if (singleProduct.stock > 0) { %>
                <%= singleProduct.stock %> items in stock
              <% } else { %>
                <span class="out-of-stock">Currently unavailable</span>
              <% } %>
            </p>
        
            <!-- Description -->
            <p><%= singleProduct.description %></p>
        
            
        
            <!-- Reviews Section -->
            <!-- <div class="product-reviews">
              <h4>Customer Reviews:</h4>
              <% if (singleProduct.reviews.length > 0) { %>
                <% singleProduct.reviews.forEach(function(review) { %>
                  <div class="single-review">
                    <p><strong><%= review.userName %></strong> rated it <%= review.rating %> stars</p>
                    <p><%= review.text %></p>
                  </div>
                <% }); %>
              <% } else { %>
                <p>No reviews yet.</p>
              <% } %>
            </div> -->
        
            <!-- Add to Cart Section -->
            <div class="card_area d-flex justify-content-between align-items-center">
              
              <% const isInWishlist = wishlist && wishlist.products.includes(singleProduct._id); %>

<% if (singleProduct.stock > 0) { %>
    <div class="product_count">
        <span class="inumber-decrement"><i class="ti-minus"></i></span>
        <input class="input-number" type="text" value="1" min="1" max="<%= singleProduct.stock %>">
        <span class="number-increment"><i class="ti-plus"></i></span>
    </div>
    <a class="btn_3" onclick='addtocart("<%= singleProduct._id %>")'>Add to Cart</a>
    <button class="add-to-wishlist <%= isInWishlist ? 'in-wishlist' : '' %>" onclick='addtowishlist("<%= singleProduct._id %>")'>
        <i class="ti-heart"></i>
    </button>
<% } else { %>
    <button class="btn_3 disabled" disabled>Sold Out</button>
<% } %>


            </div>
          </div>
        </div>
        
      
      </div>
    </div>
</div>

  
  <section class="product_list best_seller">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Related Product </h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="best_product_slider owl-carousel">
              <% relatedProduct.forEach(relatedProduct => { %>

            <div class="single_product_item" onclick="location.href='/shop/product/<%= relatedProduct._id %>'">
              
              <img src="/productimages/<%= relatedProduct.productImage[0] %>" alt="">
              <div class="single_product_text">
                <h4><%=relatedProduct.productName %></h4>
                <h4 style="text-decoration: line-through;">₹<%= relatedProduct.price %></h4>
                                                                       
                     <% if (relatedProduct.stock === 0) { %>
                        <p class="text-danger">Product Unavailable</p>
                        <% } else { %>
                          <button class="add_cart" onclick='addtocart("<%= relatedProduct._id %>")'>
                            + add to cart
                          </button>
                          <% const isInWishlist = wishlist && wishlist.products.includes(relatedProduct._id); %>
                            <button class="add-to-wishlist <%= isInWishlist ? 'in-wishlist' : '' %>" onclick='addtowishlist("<%=relatedProduct._id %>")'>
                                <i class="ti-heart"></i>
                            </button>
                        <% } %> 
                                        
              </div>

             
            </div>
             <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/path-to-your-slick/slick.min.js"></script>

  <script>
//    $(document).ready(function(){
//     // Initialize Slick Slider for the main product images
//     $('.slider-for').slick({
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         arrows: true,
//         fade: true,
//         asNavFor: '.slider-nav'
//     });

//     // Initialize Slick Slider for the thumbnails
//     $('.slider-nav').slick({
//         slidesToShow: 4,
//         slidesToScroll: 1,
//         asNavFor: '.slider-for',
//         dots: true,
//         centerMode: true,
//         focusOnSelect: true
//     });

//     // Initialize ElevateZoom on the main product image
//     $('.zoom-image').each(function() {
//         $(this).ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });

//     // Update ElevateZoom when the slider changes
//     $('.slider-for').on('afterChange', function(event, slick, currentSlide){
//         var currentImg = $('.slider-for .slick-current img');
//         $('.zoom-image').not(currentImg).ezPlus('destroy'); // Remove zoom from previous images
//         currentImg.ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });
// });


// $(document).ready(function(){
//     // Initialize Slick Slider for the main product images without arrows
//     $('.slider-for').slick({
//         slidesToShow: 1,
//         slidesToScroll: 1,
//         arrows: false, // Disable previous/next arrows
//         fade: true,
//         asNavFor: '.slider-nav'
//     });

//     // Initialize Slick Slider for the thumbnails
//     $('.slider-nav').slick({
//         slidesToShow: 4,
//         slidesToScroll: 1,
//         asNavFor: '.slider-for',
//         dots: true,        // Enable dots below thumbnails
//         centerMode: true,
//         focusOnSelect: true,
//         arrows: false      // Disable previous/next arrows for thumbnails too
//     });

//     // Initialize ElevateZoom on the main product image
//     $('.zoom-image').each(function() {
//         $(this).ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });

//     // Update ElevateZoom when the slider changes
//     $('.slider-for').on('afterChange', function(event, slick, currentSlide){
//         var currentImg = $('.slider-for .slick-current img');
//         $('.zoom-image').not(currentImg).ezPlus('destroy'); // Remove zoom from previous images
//         currentImg.ezPlus({
//             zoomType: 'lens',
//             lensShape: 'round',
//             lensSize: 200,
//             cursor: 'crosshair'
//         });
//     });
// });


$(document).ready(function(){
    // Initialize Slick Slider for the main product images without arrows
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false, // Disable previous/next arrows
        fade: true,
        asNavFor: '.slider-nav'
    });

    // Initialize Slick Slider for the thumbnails
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,        // Enable dots below thumbnails
        centerMode: true,
        focusOnSelect: true,
        arrows: false      // Disable previous/next arrows for thumbnails too
    });
});

  </script>


  <%- include('../layouts/user_layouts/userFooter.ejs') %>
